<h1>admin companies edit</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for ([:admin, @company]) do |f| %>
      <%= f.label :company_name %>
      <%= f.text_field :company_name %>

      <%= f.label :postcode %>
      <%= f.email_field :postcode %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Update company", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
