<h1>Company details</h1>
<br/>
<p>Your current details are:</p>
<br/>

<h4><%= @company.company_name %><h4>
<h4><%= @company.address1 %></h4>
<h4><%= @company.address2 %></h4>
<h4><%= @company.town %></h4>
<h4><%= @company.postcode %></h4>
<h4><%= @company.country %></h4>


<%= link_to "edit company details", edit_admin_company_path, class: "btn btn-primary"%>

