<h1> Hi <%= @firstname %></h1>

<h3>You have <%= @user_options_total %> options with a total value of <%=@options_value %> at <%= @company %> </h3>

<h3>Want to know how much your shares could be worth? <br>Use our calculator to find out.</h3>
<br>
<div class="container">
    <div class="row">
        <%= form_for :calculator, method: :post do |f| %>
            <%= f.label :quantity %>
            <%= f.number_field :quantity %>
            <%= f.label :optionprice %>
            <%= f.number_field :optionprice %>
            <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>

<% unless @result.nil? %>
    <div class="row">
        <p><%= @result %> </p>
    </div>
<% end %>


 
 
